.district-card {
    margin: 20px;
}
.container h1{
    color:white;
    text-align: center;
    background-color: rgb(6, 139, 6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.container{
    background-color: rgb(176, 245, 176);
}
.logo{margin-left: 40%;
}
.card-img-top {
    height: 200px; 
    object-fit: cover; 
}
.card-text {
    height: 60px; 
    overflow: hidden;
    line-height: 20px;
}
.backbtn{display: flex;
justify-content: center;
align-items: center;
height: 100px; 
}