.carousel-inner{
    margin-bottom: 50%;
    
}
#carouselExampleAutoplaying{
    padding-bottom: 75%;
    height: 25%;
    width: 100%;
}


.col-12{
    margin-bottom: 10%;
}

    
   
    
#carouselExampleAutoplaying{
    padding-top: 2%;
    background-color: rgb(101, 198, 228); color: white;
    padding-bottom: 60%;
}
div.class1{
    background-color: rgb(35, 189, 55);
    text-align: center;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.image-text{
    position:absolute;
    top: 50%;
    left: 50%;
    
    padding:10px
}
div.carousel-inner{
    position: relative;
    
}
.cardspart{
    float: right;
}


.cardspart{
    height:300px;
    padding-right: 2%;
    justify-content:center ;
    
}
.card-img-top4{
    height: 17.9em;
}

.row2{
    background-image:url(/IMAGES/aboutfinal.jpeg);
    background-size: cover;
    color:black;
    text-align: left;

}
.row3{
    background-color: green;
    color:white;
    text-align: center;
}
#id{
    float: left;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  .row3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
  }
  .card-text{
    padding-left: 20%;
    padding-right: 20%;
  }
.card-body{
    height: 600px; 
    overflow: hidden;
    line-height: 20px;
}
.btn btn-primary{
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 100px;
}